<%- include( "partials/header"); -%>

<h1>Compose</h1>
<input type="text" name="compose-text" placeholder="Type here..." />
<button type="submit" name="button-compose">Publish</button>

<%- include( "partials/footer"); -%>
